body{
    margin: 0px;
}
.header{
    background-color: blue;
    color: white;
    height: 40px;
    text-align: center;
    font-size: 22pt;
}
.content{
    background-color: white;
    color: black;
    position: absolute;
    top: 40px;
    width: 100%;
}
.footer{
    height: 20px;
    background-color:blue;
    position: absolute;
    bottom: 0px;
    width: 100%;
}